body {
    background-color: #fff8ef;
}
.nave{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
}
.logo {
    width: 150px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    border: solid 1px #ccc;
}
#bot{
    margin: 60px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;  
    padding-bottom: 10px;
    background-color: #b94040;
}
