
/*Marcos*/
body {
    background-color: #fff8ef;
}
.nave{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
}
.logo {
    width: 150px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
#bot{
    margin-left: 0px;
    border-radius: 15px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;  
    padding-bottom: 5px;
    background-color: #b94040;
    border-color: #b94040;
    font-size: 20px;
}
#log {
    margin-left: 60px;
    
}
.formss {
    border: solid 2px #b47474;
    border-radius: 10px;
    padding: 50px;
    padding-left: 130px;
    padding-right: 130px;
    background-color: #b47474;
}




/*Ramon*/

























/*Davi*/